@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "eukrThin";
  src: url("./assets/fonts/e-Ukraine-Thin.ttf");
}

@font-face {
  font-family: "eukrBold";
  src: url("./assets/fonts/e-Ukraine-Bold.ttf");
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "eukrThin", sans-serif;
}
